[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
rope = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[packages]
explorerhat = "*"
smbus-cffi = "*"
rpi-gpio = "*"
cffi = "*"
responder = "*"
rx = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m pytest --cov-report=term-missing --cov=iotrain"

[pipenv]
allow_prereleases = true
