[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
rope = "*"
pytest-cov = "*"

[packages]
explorerhat = "*"
smbus-cffi = "*"
awsiotpythonsdk = "*"
click = "*"
rpi-gpio = "*"
cffi = "~=1.11.5"
responder = "*"
graphene = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m pytest --cov-report=term-missing --cov=halalabs"
